/* WEBENGINE CUSTOM CSS */
.navbar-inverse {
	background-color: #f5f5f5;
	border: 0px;
}
.navbar-inverse>.navbar-header {
	background: #232323;
}
.navbar-inverse>.navbar-header>.navbar-brand>img {
	width: 180px;
	height: auto;
}
.navbar-inverse>.nav>li>a {
	color: #aaa;
}
.navbar-inverse>.nav>li>a:hover, .navbar-inverse>.nav>li>a:focus {
	background: #f5f5f5;
	color: #333;
}

.navbar-brand {
	padding: 4px 35px;
}

.contentpadding {
	padding: 10px 0px 50px 0px;
}

.table-no-border>thead>tr>th, 
.table-no-border>tbody>tr>th, 
.table-no-border>tfoot>tr>th, 
.table-no-border>thead>tr>td, 
.table-no-border>tbody>tr>td, 
.table-no-border>tfoot>tr>td {
  border-top: none; 
}

/* DATATABLES */
.dataTables_paginate {
	text-align:right;
}
.dataTables_filter {
	text-align:right;
}

/* MODULES MANAGER */
.modulesManager {}
.modulesManager ul {
	list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.modulesManager ul li {
	display: inline-block;
}
.modulesManager ul li a {
	display: block;
    width: 250px;
	padding: 3px;
}
.modulesManager ul li a:hover {
	background: #f1f1f1;
	text-decoration: none;
}

/* REMOVE MAYBE */
.module_config_tables tr th {
	width: 50%;
}
.module_config_tables tr th span {
	font-weight: normal;
	font-style: italic;
	font-size: 11px;
}

.setting-description {
	font-style: italic;
    font-size: 11px;
}

/* 1.2.0 */
body {
    background-color: #303030;
}
h1.page-header {
	color: #666;
	font-weight: bold;
	margin-top: 10px;
}
.navbar-default {
    background-color: #303030;
    border: 0px;
}
.nav > li > a {
    color: #777;
    text-decoration: none;
}
.nav > li.active > a {
    color: #ffffff;
    text-decoration: none;
}
.nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    background-color: #282828;
	color: #ffffff;
}
.sidebar ul li {
    border-bottom: 1px solid #383838;
}
.nav-second-level {
	background: #3f3f3f;
}
.nav-second-level>li>a:hover, .nav-second-level>li>a:focus {
	background: #3f3f3f;
}
.nav-second-level > li > a {
	color: #aaa;
}