@font-face {
	font-family: FaceYourFears;
	src: url('../fonts/FaceYourFears.ttf');
}

html {
	min-width: 1000px;
	height: 100%;
}

body {
	background: #ffffff;
	color: #333;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	margin: 0;
	height: 100%;
}

a {
	color: #777;
	text-decoration: none;
	-moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

a:hover {
	color: #ffda8a;
}

img {
	border: 0px;
}

input[type=text], input[type=password], input[type=number] {
	background: #fafafa;
	border: 1px solid #e3e3e3;
	color: #666;
}
input[type=text]:focus, input[type=password]:focus, input[type=number]:focus {
	border: 1px solid #ccc;
}

#header {
	width: 100%;
	min-width: 1000px;
	height: 400px;
	margin: 0px auto;
	text-align: center;
	overflow: hidden;
	color: #fff;
}
	
	@media only screen and (min-width: 1000px) {
		#header > #headervideo {
			position: relative;
			top: -50px;
		}
	}
	@media only screen and (min-width: 1300px) {
		#header > #headervideo {
			position: relative;
			top: -100px;
		}
	}
	@media only screen and (min-width: 2000px) {
		#header > #headervideo {
			position: relative;
			top: -150px;
		}
	}
	
	#header > .video-shadow {
		background: url('../img/bg_shadow.png') repeat;
		position: absolute;
		width: 100%;
		height: 400px;
		z-index: 1;
	}
	
	#header > .header-content-container {
		z-index: 2;
		position: absolute;
		top: 50px;
		width: 100%;
		height: 400px;
	}
		#header > .header-content-container > .header-content {
			width: 1000px;
			height: 400px;
			margin: 0px auto;
		}
	
	#header > .header-front {
		z-index: 2;
	}
	
	.site-logo {
		margin-top: 200px;
	}

#headerLogo {
	width: 100%;
	margin: 30px 0px;
}

#container {
	width: 1000px;
	height: auto;
	margin: 0px auto;
	padding: 20px 0px;
}

#content {
	width: 100%;
	overflow: auto;
	min-height: 500px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.footer {
	font-family: 'Segoe UI', 'Lucida Sans Unicode', 'Lucida Grande', 'Tahoma', 'Arial', 'sans-serif';
	width: 100%;
	font-size: 14px;
	color: #666;
	padding: 60px 0px;
	background: #000000;
	overflow: auto;
}
	.footer > .footer-container {
		width: 1000px;
		margin: 0px auto;
	}
	.footer-time {
		font-size: 45px;
		color: #ff0000;
		font-weight: bold;
		position: relative;
		top: -10px;
	}

#navbar {
	background: #171717;
	width: 100%;
	height: 50px;
}

#navbar ul{
	text-align: center;
	margin: 0px;
	-webkit-padding-start: 0px;
}

#navbar ul li {
	font-family: 'Source Sans Pro', sans-serif;
	list-style-type: none;
	display: inline-block;
	font-size: 16px;
	margin: 0px 15px;
}

#navbar ul li a {
	display: inline-block;
	color: #ffffff !important;
	text-decoration: none;
	padding: 15px 15px;
}

#navbar ul li a:active, #navbar ul li a:focus, #navbar ul li a:hover {
	color: #ffffff !important;
	text-decoration: none;
	background: #ff0000;
}


/* CASTLE SIEGE BANNER */
.castle-siege-banner {
	width: 970px;
	background: #000 url('../img/castle_siege_banner_bg.jpg') no-repeat center center;
	margin: 0px auto;
	padding: 30px;
	-moz-box-shadow: 0 0 10px #e3e3e3;
	-webkit-box-shadow: 0 0 10px #e3e3e3;
	box-shadow: 0 0 10px #e3e3e3;
	overflow: auto;
	font-family: FaceYourFears;
	color: #fff;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.cs-guild-title {
	color: #fff;
	font-size: 48px;
}
.cs-guild-guildowner {
	color: #ff0000;
	font-weight: bold;
	font-size: 16px;
	position: relative;
	top: -15px;
}
.cs-timeleft {
	font-family: FaceYourFears;
	font-size: 62px;
	color: #fff;
}
.cs-timeleft span {
	color: #ff0000;
}
/* <-- CASTLE SIEGE BANNER END */


.admincp-button {
	position:absolute;
	top:10px;
	right:10px;
}

.page-title {
	color: #ff0000;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 32px;
	margin-bottom: 10px;
}

/* NEWS MODULE */
.panel-news {
	margin-bottom: 30px;
	color: #333;
	border: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-moz-box-shadow: 0 0 10px #e3e3e3;
	-webkit-box-shadow: 0 0 10px #e3e3e3;
	box-shadow: 0 0 10px #e3e3e3;
}
.panel-news .panel-heading {
	padding-top: 20px;
	padding-bottom: 20px;
	background: #f1f1f1;
}
.panel-news .panel-title {
	color: #000;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
}
.panel-news .panel-footer {
	border-top: 1px solid #e7e7e7;
	background: #fff;
	font-style: italic;
	font-size: 11px;
	height: 40px;
	color: #ff0000;
}

/* RANKINGS MODULE */
.rankings-table {
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
	table-layout: fixed;
	-moz-box-shadow: 0 0 5px #e3e3e3;
	-webkit-box-shadow: 0 0 5px #e3e3e3;
	box-shadow: 0 0 5px #e3e3e3;
}
.rankings-table img {
	width: 30px;
	height: auto;
	-moz-box-shadow: 0 0 5px #666;
	-webkit-box-shadow: 0 0 5px #666;
	box-shadow: 0 0 5px #666;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
.rankings-table tr td {
	border-bottom: 1px solid #e3e3e3;
	padding: 10px;
	font-size: 18px;
	vertical-align: middle !important;
}
.rankings-table-place {
	color: #666;
	font-weight: bold;
	font-size: 24px;
	text-align: center;
}
.rankings-table tr:first-child td {
	color: #ff0000;
	border-bottom: 3px solid #ff0000;
}
.rankings-update-time {
	text-align: right;
	font-size: 11px;
	color: #ccc;
	padding: 10px 0px;
}
.rankings_menu {
	width: 100%;
	overflow: auto;
	text-align: center;
	margin-bottom: 10px;
}
.rankings_menu span {
	width: 100%;
	display: inline-block;
	padding: 10px 0px;
	color: #ccc;
	font-size: 24px;
}
.rankings_menu a {
	display: inline-block;
	width: 150px;
	border: 1px solid #e3e3e3;
	text-align: center;
	padding: 2px 0px;
	margin: 2px;
	background: #f1f1f1;
	-moz-border-radius: 2px;
	border-radius: 2px;
	color: #ccc;
}
.rankings_menu a.active {
	color: #333;
	border-color: #333;
}
.rankings_guild_logo tr td {
	border: 0px !important;
	padding: 0px !important;
	margin: 0px !important;
}
.rankings-gens-img {
	width: 50px !important;
	height: auto !important;
	border: 0 !important;
	-moz-box-shadow: 0 0 0px #000 !important;
	-webkit-box-shadow: 0 0 0px #000 !important;
	box-shadow: 0 0 0px #000 !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
}

/* MY ACCOUNT MODULE */
.myaccount-table {
	width: 100%;
	background: #f1f1f1;
	border: 1px solid #e3e3e3;
}
.myaccount-table tr td:first-child {
	color: #666;
	font-weight: bold;
}
.myaccount-table tr td {
	border-bottom: 1px solid #e3e3e3;
	padding: 15px !important;
}
.myaccount-table tr:last-child td {
	border: 0px;
}

/* GENERAL TABLE UI */
.general-table-ui {
	width: 100%;
	table-layout: fixed;
	background: #f1f1f1;
	border: 1px solid #e3e3e3;
	padding: 10px;
	margin: 10px 0px;
}
.general-table-ui tr td {
	padding: 5px;
	vertical-align: middle !important;
}
.general-table-ui tr:first-child td {
	color: #ff0000;
}
.general-table-ui tr:nth-child(2n+2) td {
	background: #fafafa;
}
.general-table-ui tr td {
	text-align: center;
}
.general-table-ui img {
	width: 50px;
	height: auto;
	-moz-box-shadow: 0 0 5px #666;
	-webkit-box-shadow: 0 0 5px #666;
	box-shadow: 0 0 5px #666;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

/* TERMS OF SERVICE PAGE */
.tos_list li {
	color: #ff0000;
	margin-bottom: 40px;
}
.tos_list li p {
	color: #ccc;
	text-align: justify;
	text-justify: inter-word;
	text-transform: none;
}

/* PAYPAL */
.paypal-gateway-container {
width: 100%;
background: #1a2133;
border: 1px solid #2e374f;
}

.paypal-gateway-logo {
width: 100%;
height: 68px;
background: #fff9ec url('../img/paypal-logo-200-68.png') no-repeat top center;
margin-bottom: 10px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
}

.paypal-gateway-content {
margin: 10px;
background: #fef2da;
border: 2px solid #f79433;
padding: 10px;
overflow: auto;
}

.paypal-gateway-conversion-rate {
margin: 0px auto;
text-align: center;
color: #000;
font-size: 18px;
padding: 10px 0px;
}

.paypal-gateway-form {
width: 100%;
margin: 0px auto;
text-align: center;
}

.paypal-gateway-form div {
display: inline-block;
padding: 0px 10px;
color: #000;
font-size: 18px;
}

.paypal-gateway-form input[type=text] {
width: 40px;
}

.paypal-gateway-continue {
margin: 0px auto;
text-align: center;
}

.paypal-gateway-continue input[type=submit] {
background: url('../img/paypal-submit.jpg') no-repeat;
width: 200px;
height: 40px;
border: 0px;
}

/* CASTLE SIEGE CSS */
.csinfo_container {
	background: url('../img/castle_siege.jpg') no-repeat top right;
	width: 100%;
	height: 200px;
	margin-bottom: 20px;
}
.csinfo_content {
	width: 100%;
	height: 180px;
	margin: 10px 0px 0px 10px;
	display: inline-block;
}
	.csinfo_glogo {
		float: left;
		width: 30%;
		height: 180px;
		text-align: center;
	}
	.csinfo_ginfo {
		float: left;
		width: 70%;
		padding: 0px 10px;
	}
	
		.csinfo_ginfo table {
			table-layout: fixed;
			width: 400px;
		}
			.csinfo_ginfo table tr td {
				padding: 3px 0px;
				font-size: 20px;
			}
			.csinfo_ginfo table tr td:first-child {
				color: #9a7e46;
			}
			
.csinfo_glist {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
	.csinfo_glist li {
		float: left;
		width: 30%;
		padding: 8px 10px;
	}
	.csinfo_glist li:hover {
		background: #0d0c0b;
	}
	
/* PAGSEGURO */
.pagseguro-gateway-container {
	width: 100%;
	background: #1a3322;
	border: 1px solid #2a533c;
}

.pagseguro-gateway-content {
	margin: 10px;
	background: #ffffff;
	border: 2px solid #bfbfbf;
	padding: 10px;
	overflow: auto;
}

.pagseguro-gateway-conversion-rate {
	margin: 0px auto;
	text-align: center;
	color: #000;
	font-size: 18px;
	padding: 10px 0px;
}

.pagseguro-gateway-form {
	width: 100%;
	margin: 0px auto;
	text-align: center;
}

.pagseguro-gateway-form div {
	display: inline-block;
	padding: 0px 10px;
	color: #000;
	font-size: 24px;
}

.pagseguro-gateway-form input[type=text] {
	width: 60px;
	background: #ffffff;
	border: 0px;
	border-bottom: 1px dotted #000;
	color: #1c713a;
	font-weight: bold;
	font-size: 24px;
}

.pagseguro-gateway-continue {
	margin: 0px auto;
	text-align: center;
	padding: 10px;
}

.module-requirements {
	font-size: 12px;
	margin-top: 20px;
}

/* SIDEBAR */
.panel-sidebar {
	background: #f1f1f1;
	border: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-moz-box-shadow: 0 0 10px #e3e3e3;
	-webkit-box-shadow: 0 0 10px #e3e3e3;
	box-shadow: 0 0 10px #e3e3e3;
}

.panel-sidebar > .panel-heading {
	background: #fff;
	color: #ff0000;
	font-family: 'Source Sans Pro', sans-serif;
	border: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	border-bottom: 3px solid #ff0000;
}

.panel-usercp {
	background: url('../img/usercp_bg.jpg') no-repeat top center;
}

.panel-usercp ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

.panel-usercp ul li {
	display: table;
	width: 100%;
	vertical-align: middle;
	line-height: 30px;
}

.panel-usercp ul li a {
	color: #444 !important;
	font-weight: bold;
}
.panel-usercp ul li a:active, .panel-usercp ul li a:hover {
	color: #ff0000 !important;
}

.panel-usercp ul li img {
	position: relative;
	top: -2px;
	padding-right: 10px;
}

.sidebar-banner {
	text-align: center;
	margin: 20px 0px;
	-moz-box-shadow: 0 0 10px #e3e3e3;
	-webkit-box-shadow: 0 0 10px #e3e3e3;
	box-shadow: 0 0 10px #e3e3e3;
	border: 0px;
}

.sidebar-banner img {
	border: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

/* GENERAL PANEL STYLING */
.panel-general {
	margin-bottom: 30px;
	background: #f1f1f1;
	border: 1px solid #e3e3e3;
	-moz-border-radius: 0px;
	border-radius: 0px;
	color: #333;
}

.panel-body .panel-title {
	color: #666;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	border-bottom: 1px solid #e3e3e3;
	margin-bottom: 20px !important;
	font-weight: bold;
}

/* ADD STATS MODULE */
.panel-addstats {
	margin-bottom: 30px;
	background: #f1f1f1;
	border: 1px solid #e3e3e3;
	-moz-border-radius: 0px;
	border-radius: 0px;
	color: #333;
}
.panel-addstats .character-avatar img {
	width: 100px;
	height: auto;
	-moz-box-shadow: 0 0 5px #666;
	-webkit-box-shadow: 0 0 5px #666;
	box-shadow: 0 0 5px #666;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
.panel-addstats .character-name {
	color: #666;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	border-bottom: 1px solid #e3e3e3;
	padding: 20px 0px;
	margin-bottom: 20px !important;
	font-weight: bold;
}